.items{
    display: flex;
    align-items: center;
}

.title{
    font-size: 18px;
    padding-right: 25px;
}
.icon{
   font-size: 15px;
   margin-right: 10px;
}
.workspaceBtn{
    background-color: black;
    color: white;
    padding: 6px;
    border-radius: 6px;
    margin-top: 20px;
}
.workspaceBtn:hover{
    cursor: pointer;
}
.itemsfo{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
  }

  .dateOptions{
    background-color: grey;
    color: white;
    padding: 6px;
    border-radius: 6px;
    margin-top: 20px;
    margin-left: 600px;
  }
  
  .card {
    background-color: #fff;
    padding: 20px;
    margin: 10px; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    cursor: pointer;
  }
  
  .formName {
    font-weight: bold;
  }
  
  .dateCreated {
    color: #888;
  }
